/*fonte albertus medium*/
/*fonte do nanda é righeteous*/
/*fonte do rodrigues é revalia*/
/*cor clara do logo: #a288ff*/
/*cor escura do logo: #5e3587*/

body {
    margin: 0;
    font-family: 'Revalia', cursive;
}

.billboard {
    padding: 3rem 0;
    background: #16161A;
    color: #F5F5F7;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.about-me {
    text-align: center;
    padding: 0 1rem;
    line-height: 1.4rem;
}

.my-face {
    padding: 20px;
    border-radius: 100%;
    border-right-color: #2b2bea;
    border-top-color: #e2e244;
    border-bottom-color: #FF5722;
    border-left-color: #47ff47;
    border-width: 8px;
    border-style: solid;
    -webkit-transform-style: preserve-3d;
}

.my-face img {
    border-radius: 50%;
    border: 6px solid;
    max-width: 50vw;
}

.my-face:hover:before {
    animation: orbit 3s infinite linear;
}

/*.my-face:hover img{*/
    /*animation: orbitAgainst 3s infinite linear;*/
/*}*/

.footer {
    position: absolute;
    bottom: 0;
    right: 115px;
}

.social-link {
    display: inline-flex;
}

.social-icon {
    color: #F5F5F7;
    padding: 0 1rem;
}


@keyframes orbit {
    from {
        -webkit-transform: rotate(0deg) rotateX(0deg);
        -moz-transform: rotate(0deg) rotateX(0deg);
        -o-transform: rotate(0deg) rotateX(0deg);
        -ms-transform: rotate(0deg) rotateX(0deg);
        transform: rotate(0deg) rotateX(0deg);
    }
    to {
        -webkit-transform: rotate(360deg) rotateX(360deg);
        -moz-transform: rotate(360deg) rotateX(360deg);
        -o-transform: rotate(360deg) rotateX(360deg);
        -ms-transform: rotate(360deg) rotateX(360deg);
        transform: rotate(360deg) rotateX(360deg);
    }
}

@keyframes orbitAgainst {
    from {
        -webkit-transform: rotate(0deg) translateZ(0px);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media (min-width: 600px) {
    .billboard {
        flex-direction: row;
    }
    .about-me {
        text-align: left;
        max-width: 500px;
    }
    .my-face {
        padding: 50px;
    }
}