/*fonte albertus medium*/
/*fonte do nanda é righeteous*/
/*fonte do rodrigues é revalia*/
/*cor clara do logo: #a288ff*/
/*cor escura do logo: #5e3587*/

body {
    margin: 0;
    font-family: 'Revalia', cursive;
}

.billboard {
    height: 58vh;
    margin-top: -8.7vh;
    width: 100%;
    background: #fefbff;
}

.billboard .title, .link {
    padding-top: 17vh;
    font-weight: bold;
}

.about-me .title{
    color: #fefbff;
    position: relative;
}

.about-me p {
    max-width: 800px;
    margin: auto;
}

.aboute-me-wave {
    position: relative;
}

.center {
    text-align: center;
}

.link {
    font-size: 1.5rem;
    text-decoration: none;
    padding: .5rem;
    color: #fefbff;
}

.about-me {
    position: relative;
    background: #cfccd0;
    padding: 3rem;
}

.footer {
    position: relative;
    background: #5e3587;
    height: 24vh;
}

.footer .social-link {
    position: absolute;
    bottom: 10vh;
    left: 5vh;
}

#wave-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

#wave {
    display: block;
    position: relative;
    height: 40px;
    background: #cfccd0;
}

#wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background: #5e3587;
    right: -25%;
    top: 20px
}

#wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background: #cfccd0;
    left: -25%;
    top: -240px;
}