/*fonte albertus medium*/
/*fonte do nanda é righeteous*/
/*fonte do rodrigues é revalia*/
/*cor clara do logo: #a288ff*/
/*cor escura do logo: #5e3587*/

body {
    margin: 0;
    font-family: 'Revalia', cursive;
}

.billboard {
    background: #16161A;
    color: #F5F5F7;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-bottom-left-radius: 300px;
    z-index: 1;
    position: relative;
}

.about-me {
    text-align: center;
    padding: 0 1rem;
    line-height: 1.4rem;
}

.my-face {
   /* background-image: linear-gradient(to right,#d33300,#ff8d22);
    position: relative;
    border-bottom-left-radius: 270px;
    border-bottom-right-radius: 270px;
    border-top-right-radius: 270px;
    border-top-left-radius: 270px;
    top: -136px;
    left: -18px;*/
}

/* my favorite background-image: linear-gradient(to right,#d33300,#ff8d22);*/

/*background-image: linear-gradient(to right,#FFEB3B,#E91E63);*/

/* laranja     background-image: linear-gradient(to right,#FF5722,#da1b80);*/


/* .my-face {
    background-image: linear-gradient(to right,#5cff00, orange, #da1bbe);
    position: relative;
    border-bottom-left-radius: 270px;
    border-bottom-right-radius: 270px;
    border-top-right-radius: 270px;
    top: -136px;
    left: -18px;
}*/

.my-face img {
    border-radius: 50%;
    border: 6px solid;
    max-width: 50vw;
}

.my-face:hover:before {
    animation: orbit 3s infinite linear;
}

.footer {
    position: absolute;
    bottom: 0;
    right: auto;
}

.social-link {
    display: inline-flex;
}

.social-icon {
    color: #F5F5F7;
    padding: 0 1rem;
}

.gradient-border {
    background-image: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
    background-image: linear-gradient(to right,#ff8a00,#da1b60);
    position: relative;
    padding: calc(298px + 1rem) 2rem 0;
    margin-top: -288px;
    overflow: hidden;
    border-bottom-left-radius: 300px;
}

.gradient-border-right {
    right: -53vw;
    background-image: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
    text-align: right;
    background-image: linear-gradient(to right,#ff8a00,#da1b60);
    position: relative;
    padding: calc(298px + 1rem) 0px 0;
    overflow: hidden;
    border-top-right-radius: 300px;
    width: 45.75vw;
}

.habilities-container {
    /*background: #16161A;*/
    margin-top: -25px;
}

.habilities {
    background: white;
    height: 100vh;
    border-top-right-radius: 300px;
    position: relative;
    padding-top: 9rem;
    padding-left: 9rem;
    z-index: 1;
    margin-top: -289px;
}

.hability {
    display: inline-flex;
    align-items: center;
    padding-bottom: .7rem;
    width: 70vw;
}

span.hability-name {
    width: 230px;
    font-weight: bold;
}

 .progress2 {
    padding: 6px;
    margin: auto;
  }

 .progress-bar2 {
    height: 25px;
    border-radius: 30px;
    background-image: 
      linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.5s linear;  
    transition-property: width, background-color;    
  }

 .progress2.js {width: 100%;}
 .progress-moved.js .progress-bar2 {
    background-color: #da1b60;  
    width: 100%;
    animation: progressAnimationjs 4s;
  }

 @keyframes progressAnimationjs {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 100%; background-color: #da1b60; }
  }

  .progress2.angular {width: 95%;}
  .progress-moved.angular .progress-bar2 {
    background-color: #da1b60;  
    width: 95%;
    animation: progressAnimationangular 5s;
  }

 @keyframes progressAnimationangular {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 95%; background-color: #da1b60; }
  }

  .progress2.react {width: 75%;}
  .progress-moved.react .progress-bar2 {
    background-color: #da1b60;  
    width: 75%;
    animation: progressAnimationreact 5s;
  }

 @keyframes progressAnimationreact {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 75%; background-color: #da1b60; }
  }

  .progress2.html {width: 100%;}
  .progress-moved.html .progress-bar2 {
    background-color: #da1b60;  
    width: 100%;
    animation: progressAnimationhtml 4s;
  }

 @keyframes progressAnimationhtml {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 100%; background-color: #da1b60; }
  }

  .progress2.sass {width: 100%;}
  .progress-moved.sass .progress-bar2 {
    background-color: #da1b60;  
    width: 100%;
    animation: progressAnimationsass 3s;
  }

 @keyframes progressAnimationsass {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 100%; background-color: #da1b60; }
  }

  .progress2.node {width: 95%;}
  .progress-moved.node .progress-bar2 {
    background-color: #da1b60;  
    width: 95%;
    animation: progressAnimationnode 4s;
  }

 @keyframes progressAnimationnode {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 95%; background-color: #da1b60; }
  }

  .progress2.karma {width: 70%;}
  .progress-moved.karma  .progress-bar2{
    background-color: #da1b60;  
    width: 70%;
    animation: progressAnimationkarma 6s;
  }

 @keyframes progressAnimationkarma {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 70%; background-color: #da1b60; }
  }

  .progress2.python {width: 85%;}
  .progress-moved.python .progress-bar2 {
    background-color: #da1b60;  
    width: 85%;
    animation: progressAnimationpython 5s;
  }

 @keyframes progressAnimationpython {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 85%; background-color: #da1b60; }
  }

  .progress2.mongo {width: 70%;}
  .progress-moved.mongo .progress-bar2 {
    background-color: #da1b60;  
    width: 70%;  
    animation: progressAnimationmongo 6s;
  }

 @keyframes progressAnimationmongo {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 70%; background-color: #da1b60; }
  }

  .progress2.sql {width: 70%;}
  .progress-moved.sql .progress-bar2 {
    background-color: #da1b60;  
    width: 70%;
    animation: progressAnimationsql 7s;
  }

 @keyframes progressAnimationsql {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 70%; background-color: #da1b60; }
  }

  .progress2.aws {width: 85%;}
  .progress-moved.aws .progress-bar2 {
    background-color: #da1b60;  
    
    animation: progressAnimationaws 6s;
  }

 @keyframes progressAnimationaws {
    0%   { width: 5%; background-color: #ff8a00;}
    100% { width: 85%; background-color: #da1b60; }
  }

@media (min-width: 600px) {
    .billboard {
        flex-direction: row;
    }
    .about-me {
        text-align: left;
        max-width: 500px;
    }
    .my-face {
        padding: 50px;
    }
    .footer {
        right: 180px;
        bottom: 50px;
    }
}

@media (max-width: 599px) {
    .billboard {
        border-bottom-left-radius: 140px;
    }
    .habilities {
        border-top-right-radius: 140px;
        margin-top: -1px;
        padding-top: 6rem;
        padding-left: 8vw;
    }
    span.hability-name {
        width: 253px;
        word-break: break-all;
    }
    .hability {
        width: 85vw;
    }
    .about-me {
        margin-top: -3rem;
    }
}