.flag-body {
    width: 35px;
    height: 23px;
    position: relative;
    margin: .5rem;
}

.flag-body.brasil {
    background: green;
}

.losangue {
    width: 15px;
    height: 15px;
    background: yellow;
    transform: rotate(45deg);
    position: absolute;
    left: calc(50% - 7.5px);
    top: calc(50% - 7.5px);
}

.circle {
    background: blue;
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: calc(50% - 6.5px);
    top: calc(50% - 6.5px);
    overflow: hidden;
}

.circle::before {
    content: '';
    width: 20px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 6.5px);
    top: 40%;
    background: #fff;
    transform: rotate(180deg);
}

.circle::after {
    content: '';
    width: 20px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 6.5px);
    top: 58%;
    background: blue;
    transform: rotate(180deg);
}

.flag-body.usa {
    background: -webkit-linear-gradient(top, #B22234 50%,#fff 50%) #B22234;
    background: linear-gradient(to bottom, #B22234 50%,#fff 50%) #B22234;
    background-size: 100% 4px;
}

.flag-body.usa::before {
    content: '';
    width: 18px;
    height: 14px;
    background: #3C3B6E;
    position: absolute;
}