body {
    margin: 0;
    font-family: 'Revalia', cursive;
}

.billboard {
    background: #16161A;
    color: #F5F5F7;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.about-me {
    text-align: center;
    padding: 0 1rem;
    line-height: 1.4rem;
}

.my-face {
    padding: 20px;
    border-radius: 100%;
    border-right-color: #2b2bea;
    border-top-color: #e2e244;
    border-bottom-color: #FF5722;
    border-left-color: #47ff47;
    border-width: 8px;
    border-style: solid;
}

.my-face img {
    border-radius: 50%;
    border: 6px solid;
    max-width: 50vw;
}

.footer {
    position: absolute;
    bottom: 0;
    right: auto;
}

.social-link {
    display: inline-flex;
}

.social-icon {
    color: #F5F5F7;
    padding: 0 1rem;
}

@media (min-width: 600px) {
    .billboard {
        flex-direction: row;
    }
    .about-me {
        text-align: left;
        max-width: 500px;
    }
    .footer {
        right: 180px;
        bottom: 50px;
    }
}

.star-container {
    height: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 18px;
    justify-content: center;
}

.star-line {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 18px;
    justify-content: space-around;
}

.language-options-container {
    position: absolute;
    right: 0;
    background: white;
    color: #16161A;
    cursor: pointer;
}